.root {
    // padding: 14vh 4vw;

    padding: 5vh 2vw;

    .title {
        font-weight: normal;
        font-size: 2.3rem;
        line-height: 4rem;

        text-align: center;
        white-space: pre-wrap;

        margin-bottom: 2rem;

        color: #1daf71;
        font-weight: bold;


        @media (max-width: 800px) {
            font-size: 1.8rem;
            line-height: 3.2rem;
        }
    }

    .contents {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2.3rem;

        text-align: center;
        white-space: pre-wrap;

        margin-bottom: 4rem;

        color: black;
        font-weight: bold;

        @media (max-width: 800px) {
            font-size: 1.1rem;
            line-height: 2.1rem;
        }
    }
}

.greenStyle {
    background-color: #1daf71;

    .title {
        font-weight: normal;
        font-size: 2.5rem;
        line-height: 4rem;

        text-align: center;
        white-space: pre-wrap;

        margin-bottom: 2rem;

        color: white;
        font-weight: bold;


    }

    .contents {
        font-weight: normal;
        font-size: 1.5rem;
        line-height: 2.3rem;

        text-align: center;
        white-space: pre-wrap;

        margin-bottom: 4rem;

        color: white;
        font-weight: bold;
    }

}


@media (max-width: 800px) {
   
}