.root-lightGreen {
    background-color: var(--orange-light);
    color: var(--standard-black);

}

.root-green {
    background-color: var(--orange);
}

.root-deepGreen {
    background-color: var(--orange-dark);
}



.root {

    padding: 12vh 7vw;


    .container {
        width: 100%;

        border-collapse: collapse;

        .title {
            font-weight: normal;
            font-size: 2.4rem;

            text-align: left;

            white-space: pre-wrap;

            margin-bottom: 2rem;

            color: var(--orange-dark);

            font-weight: bold;

        }


        .articleTitle {
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 2.3rem;

            text-align: left;

            white-space: pre-wrap;

            // margin-bottom: 4rem;

            padding: 2rem 0;
            

            color: var(--standard-black);

            font-weight: bold;

        }

        .articleContents {
            font-weight: normal;
            font-size: 1.5rem;
            line-height: 2.3rem;

            text-align: left;

            white-space: pre-wrap;

            // margin-bottom: 4rem;

            color: var(--standard-black);
            font-weight: bold;

        }
    }
}




@media (max-width: 800px) {
    .title {
        font-size: 42px;
        line-height: 50px;
    }

    .imageContainer {
        width: 100%;
        height: 50vh;
    }
}