.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10vh 15vw;

    @media (max-width: 600px) {
        padding: 15vh 7vw;

    }



    .title {
        font-size: 2.2rem;
        line-height: 4.5rem;

        color: white;

        font-weight: bold;
        margin-bottom: 3rem;

    }
    .subtitle {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 10rem;
        font-weight: normal;

    }

}
